html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.page {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page.active {
  left: 0;
  opacity: 1;
  z-index: 10;
}

.image {
  width: 100%;
  height: 100vh;
  background-image: url("images/hoher-winkel-des-internet-kommunikationsnetzwerks-mit-kopierraum_23-2148779284.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Arial", sans-serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
  line-height: 3;
  text-align: center;
  text-decoration: underline rgb(168, 168, 170);
  color: brown;
}

h2 {
  font-family: "Arial", sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  color: brown;
  background-color: #d3d3d3;
  border-radius: 25px;
  padding: 10px 20px;
  display: inline-block;
  box-shadow: 0 ;
}


h3 {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-decoration: underline rgb(15, 15, 207);
  color: brown;

}

p {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-decoration: underline rgb(15, 66, 195);
}

.container {
  border: 5px solid #ccc;
  padding: 30px;
  border-radius: 20px;
  color: rgb(84, 84, 82);
  background-color: #fff;
  box-sizing: border-box;
}


.arrow {
  display: block;
  width: 150px;
  height: 60px;
  background-color: #8B0000; /* Темно-червоний колір */
  color: black; /* Чорний текст */
  text-align: center;
  line-height: 60px;
  border-radius: 30px; /* Овальна форма */
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  font-size: 18px;
  z-index: 1000;
}

.arrow:hover {
  background-color: #a40000; /* Трохи світліший червоний при наведенні */
}